### Java template
*.class

# Package Files #
*.jar
*.war
*.ear

### Maven template
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Java
target/

### OSX
.DS_Store